<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kill The Monster</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
    <div id="app">
        <div class="panel scores">
            <div class="score">
                <h1>Player</h1>
                <div class="life-bar">
                    <div class="life" 
                        :class="{danger: playerLife < 20 }"
                        :style="{width: playerLife + '%'}"
                        >
                    </div>
                </div>
                <div>{{ playerLife }}%</div>
            </div>
            <div class="score">
                <h1>Monster</h1>
                <div class="life-bar">
                    <div class="life"                        
                    :class="{danger: monsterLife < 20 }"
                    :style="{width: monsterLife + '%'}"
                    >
                    </div>
                </div>
                <div>{{ monsterLife }}%</div>
            </div>
        </div>
        <div v-if="hasResult" class="panel result">
            <div v-if="monsterLife==0" class="win">You win !!! =)</div>
            <div v-else class="lose">You lose !!! =(</div>
        </div>
        <div class="panel buttons">
            <template v-if="running">
                <button class="btn attack">Attack</button>
                <button class="btn special-attack">Special Attack</button>
                <button class="btn heal">Heal</button>
                <button class="btn quit">Quit</button>
            </template>
            <button v-else class="btn new-game">New Game</button>
        </div>
        <div class="panel logs">

        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>